<%= hidden_field_tag :content, @content, :id => "content" %>
<div id="editor"><%= @content %></div>
<div class="group" style="margin-top:15px;">
  <div style="float:left;"><%= submit_tag "Save", :class => "btn info large" %></div>
  <div style="margin-left:15px;float:left;padding-top:6px;">
    <%= link_to "Cancel", batches_url, :class => "cancel" %>
  </div>
</div>
