<h2>Edit Batch</h2>
<h3><%= @batch_name %></h3>
<%= form_tag batch_url(escape_batch_name(@batch_name)), :method => :put do %>
  <%= text_area_tag :content, @content, style: "width:100%;height:500px;" %>
  <%= submit_tag %>
<% end %>
