<%= javascript_include_tag "batch_manager/editor" %>

<div class="group title">
  <h2 style="float:left;">Edit Batch</h2>
  <div class="label" style="float:left;margin-left:25px;"><%= @batch_name %></div>
</div>

<%= form_tag batch_url(escape_batch_name(@batch_name)), :method => :put do %>
  <%= render "form_content" %>
<% end %>
