.alert {
  border-bottom: 1px solid #e2e2e2;
  margin: 20px auto;
  padding-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.alert.notice {
  color: #468847;
}

.alert.error {
  color: #b94a48;
}
